In [1]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/hsin/git/react_review/work_project/server/env/bin/python -m pip install --upgrade pip' command.

In [2]:
import openpyxl

In [20]:
import json
with open("./assets/diff_result.json") as f:
    content = json.load(f)

In [21]:
import pandas as pd
data = content['value_diff']
data_to_list = []
for k, v in data.items():
    for item in v:
        item['Cons_Code'] = k[:6]
        item['SEDOL'] = k[6:]
        data_to_list.append(item)

In [43]:
df = pd.DataFrame(data_to_list)

In [47]:
tmp_df = df[['Cons_Code', 'SEDOL']]

In [50]:

new_df = df.loc[:, ~df.columns.isin(['Cons_Code', 'SEDOL'])]

In [52]:
df

,comlumn_name,base_value,comp_value,val_type,change_by_ratio,Cons_Code,SEDOL
0,Price,172.24,164.5,measure,0.0449,C01541,3134865
1,Dividend Yield,3.63%,3.80%,percent,-0.0468,C01541,3134865
2,Mkt Cap (USD) before investibility weight,3.2046e+10,3.10056e+10,measure,0.0325,C01541,3134865
3,Mkt Cap (USD) after investibility weight,3.19201e+10,3.08837e+10,measure,0.0325,C01541,3134865
4,%Wt Country,1.22%,1.16%,percent,0.0492,C01541,3134865
...,...,...,...,...,...,...,...
3218,Mkt Cap (USD) before investibility weight,1.30003e+08,1.42462e+08,measure,-0.0958,C99673,BF5SGF0
3219,Mkt Cap (USD) after investibility weight,1.24028e+08,1.35914e+08,measure,-0.0958,C99673,BF5SGF0
3220,%Wt Country,0.00%,0.01%,percent,NaN,C99673,BF5SGF0
3221,%Wt Industry,0.16%,0.17%,percent,-0.0625,C99673,BF5SGF0
3222,%Wt Sector,0.19%,0.20%,percent,-0.0526,C99673,BF5SGF0

In [84]:
from openpyxl.utils.dataframe import dataframe_to_rows

In [85]:
wb = openpyxl.Workbook()
ws = wb.active

for r in dataframe_to_rows(df, index=False, header=True):
    ws.append(r)

In [86]:
ws.title = "value_diff"

In [87]:
ws["B3"].value

'3.63%'

In [83]:
# wb.save("my_excel.xlsx")

In [88]:
wb.create_sheet(index=0, title="summary")

In [94]:
wb.create_sheet("more_sheet")

In [95]:
wb.sheetnames

['summary', 'value_diff', 'more_sheet']

In [91]:
content['col_diff']

{'add': ['New'], 'delete': []}

In [92]:
content['key_diff']

{'add': [], 'delete': ['C178155BDD85M8', 'C33508575809']}

# Worksheets

1. value_diff: raw diff info that
2. ID diffs: need to join the original data and produce this [{"id":"ID123", "add/delete": "add", "attr1": "val",...},...]
3. Column diffs: same as above? [{"column": "some_column", "add/delete": "delete"...}] or this should be rare??

In [ ]:
id_diff = [i for i in content['key_diff']]